.b-content
{
    background: #fff;
    min-height: 400px;
    z-index:1;
    position:relative;
    box-shadow: 0 3px 16px rgba(0,0,0,0.20);
    -webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
         -o-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
}
.b-content:before{
    content: '';
    position:absolute;
    top: -20px;
    left:0;
    width:100%;
    height:20px;
    background: #fff;
}
.b-content__info{
    padding: 0 20px;
}
.b-content__text{
    padding: 20px 90px;
    color:#1d1d1d;
}
