.b-info
{
    padding:25px 0 25px 30px;
    cursor: pointer;
}
.b-info__image{
    height:45px;
}
.b-info__img{
    width:auto;
    height:auto;
    display:block;
    max-height:45px;
}
.b-info__img_state_hover,
.b-info:hover .b-info__img
{
    display:none;
}
.b-info:hover .b-info__img_state_hover{
    display:block;
}
.b-info:hover .b-info__content{
    color:#1d1d1d;
}