.b-page{
    font-family: Verdana, sans-serif;
    background: #fff url(../../images/design/fon.png);
    position: relative;
    border-top: 1px solid #fff;
    margin-top:-1px;
    font-size: 18px;
    color:#676767;
}
a{
    color:#0ac1e3;
}
.i-inline{
    display: inline;
    zoom: 1;
    display: inline-block;
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}