/* ../../libs/clever-bem-lib/b-page/b-page.css begin */
@font-face {
    font-family: 'cleverico';
    src: url("../../libs/clever-bem-lib/font/cleverico.eot");
    src: url("../../libs/clever-bem-lib/font/cleverico.eot?#iefix") format('embedded-opentype'),
         url("../../libs/clever-bem-lib/font/cleverico.woff") format('woff'),
         url("../../libs/clever-bem-lib/font/cleverico.ttf") format('truetype'),
         url("../../libs/clever-bem-lib/font/cleverico.svg#cleverico") format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ../../libs/clever-bem-lib/b-page/b-page.css end */

/* ../../blocks/b-page/b-page.css begin */
.b-page{
    font-family: Verdana, sans-serif;
    background: #fff url("../../images/design/fon.png");
    position: relative;
    border-top: 1px solid #fff;
    margin-top:-1px;
    font-size: 18px;
    color:#676767;
}
a{
    color:#0ac1e3;
}
.i-inline{
    display: inline;
    zoom: 1;
    display: inline-block;
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
/* ../../blocks/b-page/b-page.css end */

/* ../../blocks/b-top/b-top.css begin */
.b-top
{
    position: absolute;
    width:100%;
    height: 32px;
    background: url("../../images/temp/top1.jpg") repeat-x;
    box-shadow: 0 1px 15px rgba(0,0,0,0.6);
}

/* ../../blocks/b-top/b-top.css end */

/* ../../libs/clever-bem-lib/b-page-inner/b-page-inner.css begin */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;    
}
.b-page-inner
{
    position: relative;
	min-height:100%;
	height:auto !important;
	height:100%;
}
/* ../../libs/clever-bem-lib/b-page-inner/b-page-inner.css end */

/* ../../blocks/b-page-inner/b-page-inner.css begin */
.b-page-inner{
    max-width: 1280px;
    min-width: 350px;
    width:100%;
    margin: -1px auto -235px;
    border-top: 1px solid transparent;
}
.b-page-inner__footer{
    height:170px;
}
/* ../../blocks/b-page-inner/b-page-inner.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/b-grid__cell.css begin */
.b-grid__cell {
	display: block;
	float: left;
	width: 100%;
	min-height: 30px;
	margin-left: 2.564102564102564%;
	*margin-left: 2.5109110747408616%;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
.b-grid__cell:first-child {
	margin-left: 0;
}
@media (min-width: 980px) {
	.b-grid__cell {
		display: block;
		float: left;
		width: 100%;
		min-height: 30px;
		margin-left: 2.564102564102564%;
		*margin-left: 2.5109110747408616%;
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
						box-sizing: border-box;
	}
	.b-grid__cell:first-child {
		margin-left: 0;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell{
		display: block;
		float: left;
		width: 100%;
		min-height: 30px;
		margin-left: 2.7624309392265194%;
		*margin-left: 2.709239449864817%;
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
						box-sizing: border-box;
	}
	.b-grid__cell:first-child {
		margin-left: 0;
	}
}
@media (max-width: 767px) {
	.b-grid__cell{
		display: block;
		float: none;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
			 -moz-box-sizing: border-box;
						box-sizing: border-box;
	}
	.b-grid [class*="b-grid__cell_offset"]:first-child {
		margin-left: 0;
	}
}

/* ../../libs/clever-bem-lib/b-grid/__cell/b-grid__cell.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_1.css begin */
.b-grid__cell_span_1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_1 {
		width: 5.982905982905983%;
		*width: 5.929714493544281%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_1 {
		width: 5.801104972375691%;
		*width: 5.747913483013988%;
	}
}

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_1.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_2.css begin */
.b-grid__cell_span_2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_2 {
		width: 14.52991452991453%;
		*width: 14.476723040552828%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_2 {
		width: 14.3646408839779%;
		*width: 14.311449394616199%;
	}
}

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_2.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_3.css begin */
.b-grid__cell_span_3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_3 {
		width: 23.076923076923077%;
		*width: 23.023731587561375%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_3 {
		width: 22.92817679558011%;
		*width: 22.87498530621841%;
	}
}


/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_3.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_4.css begin */
.b-grid__cell_span_4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_4 {
		width: 31.623931623931625%;
		*width: 31.570740134569924%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_4 {
		width: 31.491712707182323%;
		*width: 31.43852121782062%;
	}
}

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_4.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_5.css begin */
.b-grid__cell_span_5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_5 {
		width: 40.17094017094017%;
		*width: 40.11774868157847%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_5 {
		width: 40.05524861878453%;
		*width: 40.00205712942283%;
	}
}

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_5.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_6.css begin */
.b-grid__cell_span_6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_6 {
		width: 48.717948717948715%;
		*width: 48.664757228587014%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_6 {
		width: 48.61878453038674%;
		*width: 48.56559304102504%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_6.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_7.css begin */
.b-grid__cell_span_7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_7 {
		width: 57.26495726495726%;
		*width: 57.21176577559556%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_7 {
		width: 57.18232044198895%;
		*width: 57.12912895262725%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_7.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_8.css begin */
.b-grid__cell_span_8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_8 {
		width: 65.81196581196582%;
		*width: 65.75877432260411%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_8 {
		width: 65.74585635359117%;
		*width: 65.69266486422946%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_8.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_9.css begin */
.b-grid__cell_span_9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_9 {
		width: 74.35897435897436%;
		*width: 74.30578286961266%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_9 {
		width: 74.30939226519337%;
		*width: 74.25620077583166%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_9.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_10.css begin */
.b-grid__cell_span_10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_10 {
		width: 82.90598290598291%;
		*width: 82.8527914166212%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_10 {
		width: 82.87292817679558%;
		*width: 82.81973668743387%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_10.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_11.css begin */
.b-grid__cell_span_10 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_10 {
		width: 91.45299145299145%;
		*width: 91.39979996362975%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_10 {
		width: 91.43646408839778%;
		*width: 91.38327259903608%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_11.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_12.css begin */
.b-grid__cell_span_12 {
    width: 100%;
    *width: 99.94680851063829%;
}
@media (min-width: 980px) {
	.b-grid__cell_span_12 {
		width: 100%;
		*width: 99.94680851063829%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_span_12 {
		width: 100%;
		*width: 99.94680851063829%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_span/b-grid__cell_span_12.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_1.css begin */
.b-grid__cell_offset_1{
	margin-left: 11.11111111111111%;
	*margin-left: 11.004728132387708%;
}
.b-grid__cell_offset_1:first-child {
	margin-left: 8.547008547008547%;
	*margin-left: 8.440625568285142%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_1{
		margin-left: 11.11111111111111%;
		*margin-left: 11.004728132387708%;
	}
	.b-grid__cell_offset_1:first-child {
		margin-left: 8.547008547008547%;
		*margin-left: 8.440625568285142%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_1{
		margin-left: 11.32596685082873%;
		*margin-left: 11.219583872105325%;
	}
	.b-grid__cell_offset_1:first-child {
		margin-left: 8.56353591160221%;
		*margin-left: 8.457152932878806%;
	}
}

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_1.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_2.css begin */
.b-grid__cell_offset_2{
	margin-left: 19.65811965811966%;
	*margin-left: 19.551736679396257%;
}
.b-grid__cell_offset_2:first-child {
	margin-left: 17.094017094017094%;
	*margin-left: 16.98763411529369%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_2{
		margin-left: 19.65811965811966%;
		*margin-left: 19.551736679396257%;
	}
	.b-grid__cell_offset_2:first-child {
		margin-left: 17.094017094017094%;
		*margin-left: 16.98763411529369%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_2{
		margin-left: 19.88950276243094%;
		*margin-left: 19.783119783707537%;
	}
	.b-grid__cell_offset_2:first-child {
		margin-left: 17.12707182320442%;
		*margin-left: 17.02068884448102%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_2.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_3.css begin */
.b-grid__cell_offset_3{
	margin-left: 28.205128205128204%;
	*margin-left: 28.0987452264048%;
}
.b-grid__cell_offset_3:first-child {
	margin-left: 25.641025641025642%;
	*margin-left: 25.53464266230224%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_3{
		margin-left: 28.205128205128204%;
		*margin-left: 28.0987452264048%;
	}
	.b-grid__cell_offset_3:first-child {
		margin-left: 25.641025641025642%;
		*margin-left: 25.53464266230224%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_3{
		margin-left: 28.45303867403315%;
		*margin-left: 28.346655695309746%;
	}
	.b-grid__cell_offset_3:first-child {
		margin-left: 25.69060773480663%;
		*margin-left: 25.584224756083227%;
	}
}

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_3.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_4.css begin */
.b-grid__cell_offset_4{
	margin-left: 36.75213675213675%;
	*margin-left: 36.645753773413354%;
}
.b-grid__cell_offset_4:first-child {
	margin-left: 34.18803418803419%;
	*margin-left: 34.081651209310785%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_4{
		margin-left: 36.75213675213675%;
		*margin-left: 36.645753773413354%;
	}
	.b-grid__cell_offset_4:first-child {
		margin-left: 34.18803418803419%;
		*margin-left: 34.081651209310785%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_4{
		margin-left: 37.01657458563536%;
		*margin-left: 36.91019160691196%;
	}
	.b-grid__cell_offset_4:first-child {
		margin-left: 34.25414364640884%;
		*margin-left: 34.14776066768544%;
	}
}

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_4.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_5.css begin */
.b-grid__cell_offset_5{
	margin-left: 45.299145299145295%;
	*margin-left: 45.1927623204219%;
}
.b-grid__cell_offset_5:first-child {
	margin-left: 42.73504273504273%;
	*margin-left: 42.62865975631933%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_5{
		margin-left: 45.299145299145295%;
		*margin-left: 45.1927623204219%;
	}
	.b-grid__cell_offset_5:first-child {
		margin-left: 42.73504273504273%;
		*margin-left: 42.62865975631933%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_5{
		margin-left: 45.58011049723757%;
		*margin-left: 45.47372751851417%;
	}
	.b-grid__cell_offset_5:first-child {
		margin-left: 42.81767955801105%;
		*margin-left: 42.71129657928765%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_5.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_6.css begin */
.b-grid__cell_offset_6{
	margin-left: 53.84615384615384%;
	*margin-left: 53.739770867430444%;
}
.b-grid__cell_offset_6:first-child {
	margin-left: 51.28205128205128%;
	*margin-left: 51.175668303327875%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_6{
		margin-left: 53.84615384615384%;
		*margin-left: 53.739770867430444%;
	}
	.b-grid__cell_offset_6:first-child {
		margin-left: 51.28205128205128%;
		*margin-left: 51.175668303327875%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_6{
		margin-left: 54.14364640883978%;
		*margin-left: 54.037263430116376%;
	}
	.b-grid__cell_offset_6:first-child {
		margin-left: 51.38121546961326%;
		*margin-left: 51.27483249088986%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_6.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_7.css begin */
.b-grid__cell_offset_7{
	margin-left: 62.393162393162385%;
	*margin-left: 62.28677941443899%;
}
.b-grid__cell_offset_7:first-child {
	margin-left: 59.82905982905982%;
	*margin-left: 59.72267685033642%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_7{
		margin-left: 62.393162393162385%;
		*margin-left: 62.28677941443899%;
	}
	.b-grid__cell_offset_7:first-child {
		margin-left: 59.82905982905982%;
		*margin-left: 59.72267685033642%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_7{
		margin-left: 62.70718232044199%;
		*margin-left: 62.600799341718584%;
	}
	.b-grid__cell_offset_7:first-child {
		margin-left: 59.94475138121547%;
		*margin-left: 59.838368402492065%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_7.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_8.css begin */
.b-grid__cell_offset_8{
	margin-left: 70.94017094017094%;
	*margin-left: 70.83378796144753%;
}
.b-grid__cell_offset_8:first-child {
	margin-left: 68.37606837606839%;
	*margin-left: 68.26968539734497%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_8{
		margin-left: 70.94017094017094%;
		*margin-left: 70.83378796144753%;
	}
	.b-grid__cell_offset_8:first-child {
		margin-left: 68.37606837606839%;
		*margin-left: 68.26968539734497%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_8{
		margin-left: 71.2707182320442%;
		*margin-left: 71.16433525332079%;
	}
	.b-grid__cell_offset_8:first-child {
		margin-left: 68.50828729281768%;
		*margin-left: 68.40190431409427%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_8.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_9.css begin */
.b-grid__cell_offset_9{
	margin-left: 79.48717948717949%;
	*margin-left: 79.38079650845607%;
}
.b-grid__cell_offset_9:first-child {
	margin-left: 76.92307692307693%;
	*margin-left: 76.81669394435352%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_9{
		margin-left: 79.48717948717949%;
		*margin-left: 79.38079650845607%;
	}
	.b-grid__cell_offset_9:first-child {
		margin-left: 76.92307692307693%;
		*margin-left: 76.81669394435352%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_9{
		margin-left: 79.8342541436464%;
		*margin-left: 79.72787116492299%;
	}
	.b-grid__cell_offset_9:first-child {
		margin-left: 77.07182320441989%;
		*margin-left: 76.96544022569647%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_9.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_10.css begin */
.b-grid__cell_offset_10{
	margin-left: 88.03418803418803%;
	*margin-left: 87.92780505546462%;
}
.b-grid__cell_offset_10:first-child {
	margin-left: 85.47008547008548%;
	*margin-left: 85.36370249136206%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_10{
		margin-left: 88.03418803418803%;
		*margin-left: 87.92780505546462%;
	}
	.b-grid__cell_offset_10:first-child {
		margin-left: 85.47008547008548%;
		*margin-left: 85.36370249136206%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_10{
		margin-left: 88.39779005524862%;
		*margin-left: 88.2914070765252%;
	}
	.b-grid__cell_offset_10:first-child {
		margin-left: 85.6353591160221%;
		*margin-left: 85.52897613729868%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_10.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_11.css begin */
.b-grid__cell_offset_11{
	margin-left: 96.58119658119658%;
	*margin-left: 96.47481360247316%;
}
.b-grid__cell_offset_11:first-child {
	margin-left: 94.01709401709402%;
	*margin-left: 93.91071103837061%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_11{
		margin-left: 96.58119658119658%;
		*margin-left: 96.47481360247316%;
	}
	.b-grid__cell_offset_11:first-child {
		margin-left: 94.01709401709402%;
		*margin-left: 93.91071103837061%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_11{
		margin-left: 96.96132596685082%;
		*margin-left: 96.8549429881274%;
	}
	.b-grid__cell_offset_11:first-child {
		margin-left: 94.1988950276243%;
		*margin-left: 94.09251204890089%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_11.css end */

/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_12.css begin */
.b-grid__cell_offset_12{
	margin-left: 105.12820512820512%;
	*margin-left: 105.02182214948171%;
}
.b-grid__cell_offset_12:first-child {
	margin-left: 102.56410256410257%;
	*margin-left: 102.45771958537915%;
}
@media (min-width: 980px) {
	.b-grid__cell_offset_12{
		margin-left: 105.12820512820512%;
		*margin-left: 105.02182214948171%;
	}
	.b-grid__cell_offset_12:first-child {
		margin-left: 102.56410256410257%;
		*margin-left: 102.45771958537915%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.b-grid__cell_offset_12{
		margin-left: 105.52486187845304%;
		*margin-left: 105.41847889972962%;
	}
	.b-grid__cell_offset_12:first-child {
		margin-left: 102.76243093922652%;
		*margin-left: 102.6560479605031%;
	}
}
/* ../../libs/clever-bem-lib/b-grid/__cell/_offset/b-grid__cell_offset_12.css end */

/* ../../libs/clever-bem-lib/b-grid/b-grid.css begin */
.b-grid {
	width: 100%;
	*zoom: 1;
}
.b-grid:before,
.b-grid:after {
	display: table;
	line-height: 0;
	content: "";
}
.b-grid:after {
	clear: both;
}
/* ../../libs/clever-bem-lib/b-grid/b-grid.css end */

/* ../../blocks/b-grid/b-grid.css begin */
@media (max-width: 767px) {
    .b-grid__cell{
        width: 100% !important;
    }
}
/* ../../blocks/b-grid/b-grid.css end */

/* ../../libs/bem-bl/blocks-desktop/b-icon/b-icon.css begin */
.b-icon
{
    font: 0/0 a;

    border: 0;

}

/* ../../libs/bem-bl/blocks-desktop/b-icon/b-icon.css end */

/* ../../blocks/b-logo/b-logo.css begin */
.b-logo
{
    padding-left:30px;
}
.b-logo .b-link{
    display:block;
}
.b-logo .b-icon{
    display:block;
    width:auto;
    height:auto;
    max-width:100%;
}
/* ../../blocks/b-logo/b-logo.css end */

/* ../../blocks/b-header/b-header.css begin */
.b-header
{
    background: #fff;
    margin-top:20px;
    padding:40px 20px 20px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.20);
    -webkit-border-radius: 10px 10px 0 0;
       -moz-border-radius: 10px 10px 0 0;
         -o-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
}
.b-header__attention{
    color:#0ac1e3;
}
.b-header__slogan{
    display:table-cell;
    height:85px;
    padding-left: 30px;
    vertical-align: middle;
}
.b-header__contact{
    text-align: right;
    padding:10px 10px 0 30px;
}
.b-header__phone{
    font-size: 33px;
    background: url("../../images/design/phone.png") no-repeat left 10px;
    padding-left: 40px;
    line-height: 50px;
}
.b-header__phone:hover{
    background: url("../../images/design/phone-hover.png") no-repeat left 10px;
}
.b-header__number{
    white-space: nowrap;
}
.b-header__contact .b-link{
    margin-left:20px;
}
.b-header__mail{
    background: url("../../images/design/mail.png") no-repeat left 5px;
    padding-left:32px;
}
.b-header__skype{
    background: url("../../images/design/skype.png") no-repeat left 5px;
    padding-left:32px;
}
.b-header__contact .b-link:hover{
    background-position: left -25px;
}
/* ../../blocks/b-header/b-header.css end */

/* ../../blocks/b-content/b-content.css begin */
.b-content
{
    background: #fff;
    min-height: 400px;
    z-index:1;
    position:relative;
    box-shadow: 0 3px 16px rgba(0,0,0,0.20);
    -webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
         -o-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
}
.b-content:before{
    content: '';
    position:absolute;
    top: -20px;
    left:0;
    width:100%;
    height:20px;
    background: #fff;
}
.b-content__info{
    padding: 0 20px;
}
.b-content__text{
    padding: 20px 90px;
    color:#1d1d1d;
}

/* ../../blocks/b-content/b-content.css end */

/* ../../blocks/b-info/b-info.css begin */
.b-info
{
    padding:25px 0 25px 30px;
    cursor: pointer;
}
.b-info__image{
    height:45px;
}
.b-info__img{
    width:auto;
    height:auto;
    display:block;
    max-height:45px;
}
.b-info__img_state_hover,
.b-info:hover .b-info__img
{
    display:none;
}
.b-info:hover .b-info__img_state_hover{
    display:block;
}
.b-info:hover .b-info__content{
    color:#1d1d1d;
}
/* ../../blocks/b-info/b-info.css end */

/* ../../blocks/i-vendor/__ui/i-vendor__ui.css begin */
/*! jQuery UI - v1.10.3 - 2013-05-03
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
	/* support: IE10, see #8844 */
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}

.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("../../blocks/i-vendor/__ui/images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}

.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}

.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}

.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}
.ui-spinner-input {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}
.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}
/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
/* vertical centre icon */
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}
.ui-spinner-up {
	top: 0;
}
.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}

.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1.1em/*{fsDefault}*/;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif/*{ffDefault}*/;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa/*{borderColorContent}*/;
	background: #ffffff/*{bgColorContent}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_flat_75_ffffff_40x100.png")/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
	color: #222222/*{fcContent}*/;
}
.ui-widget-content a {
	color: #222222/*{fcContent}*/;
}
.ui-widget-header {
	border: 1px solid #aaaaaa/*{borderColorHeader}*/;
	background: #cccccc/*{bgColorHeader}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_highlight-soft_75_cccccc_1x100.png")/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/;
	color: #222222/*{fcHeader}*/;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222/*{fcHeader}*/;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3/*{borderColorDefault}*/;
	background: #e6e6e6/*{bgColorDefault}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_glass_75_e6e6e6_1x400.png")/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
	font-weight: normal/*{fwDefault}*/;
	color: #555555/*{fcDefault}*/;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555/*{fcDefault}*/;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999/*{borderColorHover}*/;
	background: #dadada/*{bgColorHover}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_glass_75_dadada_1x400.png")/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/;
	font-weight: normal/*{fwDefault}*/;
	color: #212121/*{fcHover}*/;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #212121/*{fcHover}*/;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa/*{borderColorActive}*/;
	background: #ffffff/*{bgColorActive}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_glass_65_ffffff_1x400.png")/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;
	font-weight: normal/*{fwDefault}*/;
	color: #212121/*{fcActive}*/;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121/*{fcActive}*/;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1/*{borderColorHighlight}*/;
	background: #fbf9ee/*{bgColorHighlight}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_glass_55_fbf9ee_1x400.png")/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/;
	color: #363636/*{fcHighlight}*/;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636/*{fcHighlight}*/;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a/*{borderColorError}*/;
	background: #fef1ec/*{bgColorError}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_glass_95_fef1ec_1x400.png")/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/;
	color: #cd0a0a/*{fcError}*/;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a/*{fcError}*/;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a/*{fcError}*/;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("../../blocks/i-vendor/__ui/images/ui-icons_222222_256x240.png")/*{iconsContent}*/;
}
.ui-widget-header .ui-icon {
	background-image: url("../../blocks/i-vendor/__ui/images/ui-icons_222222_256x240.png")/*{iconsHeader}*/;
}
.ui-state-default .ui-icon {
	background-image: url("../../blocks/i-vendor/__ui/images/ui-icons_888888_256x240.png")/*{iconsDefault}*/;
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("../../blocks/i-vendor/__ui/images/ui-icons_454545_256x240.png")/*{iconsHover}*/;
}
.ui-state-active .ui-icon {
	background-image: url("../../blocks/i-vendor/__ui/images/ui-icons_454545_256x240.png")/*{iconsActive}*/;
}
.ui-state-highlight .ui-icon {
	background-image: url("../../blocks/i-vendor/__ui/images/ui-icons_2e83ff_256x240.png")/*{iconsHighlight}*/;
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("../../blocks/i-vendor/__ui/images/ui-icons_cd0a0a_256x240.png")/*{iconsError}*/;
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px/*{cornerRadius}*/;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa/*{bgColorOverlay}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_flat_0_aaaaaa_40x100.png")/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/;
	opacity: .3/*{opacityOverlay}*/;
	filter: Alpha(Opacity=30)/*{opacityFilterOverlay}*/;
}
.ui-widget-shadow {
	margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/;
	padding: 8px/*{thicknessShadow}*/;
	background: #aaaaaa/*{bgColorShadow}*/ url("../../blocks/i-vendor/__ui/images/ui-bg_flat_0_aaaaaa_40x100.png")/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/;
	opacity: .3/*{opacityShadow}*/;
	filter: Alpha(Opacity=30)/*{opacityFilterShadow}*/;
	border-radius: 8px/*{cornerRadiusShadow}*/;
}

/* ../../blocks/i-vendor/__ui/i-vendor__ui.css end */

/* ../../blocks/i-vendor/__fancybox/i-vendor__fancybox.css begin */
/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../../blocks/i-vendor/__fancybox/fancybox_sprite.png");
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url("../../blocks/i-vendor/__fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url("../../blocks/i-vendor/__fancybox/blank.gif"); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url("../../blocks/i-vendor/__fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
/* ../../blocks/i-vendor/__fancybox/i-vendor__fancybox.css end */

/* ../../blocks/b-promo/b-promo.css begin */
.b-promo__bottom{
    font-size: 13px;
    padding: 10px 70px;
    text-shadow: 0 1px 0 #fff;
    position:relative;
    background: #e4e4e4;
    -webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
         -o-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
}
.b-promo__bottom:before{
    content: '*';
    display:inline-block;
    text-shadow: 0 1px 0 #fff;
    margin-right:5px;
    font-size:20px;
    height:15px;
    overflow:hidden;
}
.b-promo__title{
    padding: 15px 10px 15px 30px;
    float:left;
    font-size: 24px;
    line-height: 24px;
    margin-left: 50px;
    background: url("../../images/design/promo.png") no-repeat left center;
}
.b-promo:hover .b-promo__title{
    background: url("../../images/design/promo-hover.png") no-repeat left center;
}
.b-promo__top{
    padding-top:25px;
    overflow:hidden;
}
.b-promo__body{
    overflow:hidden;
    height: 720px;
}
.b-promo__item{
    display:block;
    position:relative;
    height:240px;
}
.b-promo__image{
    display:block;
    width:1280px;
    height:240px;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-640px;
}
.b-promo__count{
    float:right;
    width:350px;
    font-size: 13px;
    line-height: 24px;
    padding: 15px 0;
}
.b-promo__count-body{
    width:180px;
    margin:10px 15px;
}
.b-promo__count-body.ui-widget-content{
    background: #e1e1e1;
    border:none;
    height: 6px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}
.b-promo__count-body .ui-widget-header {
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.25);
    background: #26cdeb;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#039cbd', endColorstr='#2ddcfb');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#039cbd), color-stop(100%,#2ddcfb));
        background: -webkit-linear-gradient(top, bottom, #039cbd, #2ddcfb); 
        background: -moz-linear-gradient(top,  #039cbd,  #2ddcfb);
        background: -o-linear-gradient(top,  #039cbd,  #2ddcfb);
        background: -ms-linear-gradient(top,  #039cbd,  #2ddcfb);
        background: linear-gradient(top, #039cbd, #2ddcfb);
}
.b-promo__count-body.ui-slider .ui-slider-handle { 
    height: 50px;
    border: none;
    width: 50px;
    margin-left: -25px;
    top: -20px;
    background: url("../../images/design/slider.png") no-repeat center;
    box-shadow: none !important;
    outline: none !important;
}
.b-promo__count-body.ui-slider .ui-slider-handle:hover{
    background: url("../../images/design/slider-hover.png") no-repeat center;
    cursor: pointer;
}
/* ../../blocks/b-promo/b-promo.css end */

/* ../../libs/clever-bem-lib/b-footer/__inner/b-footer__inner.css begin */


/* ../../libs/clever-bem-lib/b-footer/__inner/b-footer__inner.css end */

/* ../../libs/clever-bem-lib/b-footer/b-footer.css begin */
.b-footer
{
	position:relative;
	/*
    margin: -170px 30px 0;
	height:130px;
	padding-top: 40px;
    */
}

/* ../../libs/clever-bem-lib/b-footer/b-footer.css end */

/* ../../blocks/b-footer/b-footer.css begin */
.b-footer
{
    height:235px;
    background: #f1f1f1 url("../../images/design/footer.png");
    box-shadow: 0 1px 15px rgba(0,0,0,0.3);
    -webkit-border-radius: 15px 15px 0 0;
       -moz-border-radius: 15px 15px 0 0;
         -o-border-radius: 15px 15px 0 0;
            border-radius: 15px 15px 0 0;
}
.b-footer__inner{
    max-width: 1280px;
    min-width: 350px;
    margin: 0 auto;
    width:100%;
    padding: 110px 0 0;
}
.b-footer__attention{
    color:#0ac1e3;
}
.b-footer__phone{
    padding: 5px 0 5px 30px;
    font-size: 22px;
}
.b-footer__develop{
    padding: 7px 0 7px 30px;
}
.b-footer__body{
    padding: 0 20px;
}
/* ../../blocks/b-footer/b-footer.css end */

/* ../../blocks/b-fancy/b-fancy.css begin */
.b-fancy
{
    display:none;
}
.fancybox-overlay{
    background: url("../../images/design/fancybox.png");
}
.fancybox-skin{
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
         -o-border-radius: 15px;
            border-radius: 15px;
}
.b-fancy__attention{
    color:#0ac1e3;
}
.b-fancy__bottom{
    background: #f2f2f2;
    padding:15px 0;
    -webkit-border-radius: 0 0 15px 15px;
       -moz-border-radius: 0 0 15px 15px;
         -o-border-radius: 0 0 15px 15px;
            border-radius: 0 0 15px 15px;
}
.b-fancy__phone{
    font-size: 24px;
    float:right;
    background: url("../../images/design/phone.png") no-repeat left 5px;
    padding:0 30px 0 40px;
    line-height: 40px;
}
.b-fancy__phone:hover{
    background: url("../../images/design/phone-hover.png") no-repeat left 5px;
}
/* ../../blocks/b-fancy/b-fancy.css end */

/* ../../blocks/b-fancy/__promo/b-fancy__promo.css begin */
.b-fancy__promo
{
    width:1000px;
    font-size: 13px;
    background: #fff;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
         -o-border-radius: 15px;
            border-radius: 15px;
}
.b-fancy__top{
    height:160px;
    overflow:hidden;
    padding:5px 0;
    position:relative;
}
.b-fancy__list{
    margin: 0;
    padding: 0 45px;
}
.b-fancy__item{
    width: 130px;
    height:160px;
    overflow:hidden;
}
.b-fancy__promo-list-link{
    display:block;
    font-size: 11px;
    color:#979797;
    text-decoration: none;
    padding:10px;
}
.b-fancy__list-image{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width:110px;
    height:110px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}
.b-fancy__list-img{
    display:inline-block;
    width:auto;
    height:auto;
    max-width:110px;
    max-height: 110px;
}
.b-fancy__list-title{
    display:none;
    text-align: center;
    margin-top:5px;
    overflow:hidden;
    height:30px;
}
.b-fancy__promo-list-link:hover .b-fancy__list-image,
.b-fancy__item_state_active .b-fancy__list-image
{
    box-shadow: 0 1px 12px rgba(0,0,0,0.3);
}
.b-fancy__promo-list-link:hover .b-fancy__list-title,
.b-fancy__item_state_active .b-fancy__list-title
{
    display:block;
}
.b-fancy__arrow-list{
    position:absolute;
    top:70px;
    cursor: pointer;
    width:20px;
    height:17px;
}
.b-fancy__arrow-list_position_prev{
    background: url("../../images/design/arrow-prev.png") no-repeat top center;
    left:10px;
}
.b-fancy__arrow-list_position_next{
    background: url("../../images/design/arrow-next.png") no-repeat top center;
    right:10px;
}
.b-fancy__arrow-list:hover{
    background-position: center bottom;
}
.b-fancy__body{
    position:relative;
}
.b-fancy__arrow{
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    padding: 0 15px;
    font-size: 15px;
    color:#686868;
    line-height:26px;
    -webkit-border-radius: 14px;
       -moz-border-radius: 14px;
         -o-border-radius: 14px;
            border-radius: 14px;
}
.b-fancy__arrow:hover{
    color:#fff;
    background: #666667;
}
.b-fancy__arrow_position_prev{
    left:50px;
}
.b-fancy__arrow_position_next{
    right:50px;
}
.b-fancy__body-list{
    width:600px;
    margin:0 auto;
}
.b-fancy__card{
    display:none;
    padding-bottom:30px;
}
.b-fancy__card_state_active{
    display:block;
}
.b-fancy__image{
    display:table-cell;
    width:600px;
    height: 300px;
    padding-bottom: 17px;
    vertical-align: middle;
    text-align: center;
    background: url("../../images/design/shadow.png") no-repeat bottom center;
}
.b-fancy__img{
    display:inline-block;
    width: auto;
    height:auto;
    max-width:570px;
    max-height: 300px;
}
.b-fancy__title{
    margin:0 20px 15px;
}
.b-fancy__content,
.b-fancy__link{
    padding: 0 20px;
}

/* ../../blocks/b-fancy/__promo/b-fancy__promo.css end */

/* ../../libs/clever-bem-lib/b-scripts/b-scripts.css begin */
.b-scripts
{
    display: none;
    position: absolute;
}

/* ../../libs/clever-bem-lib/b-scripts/b-scripts.css end */

