.b-header
{
    background: #fff;
    margin-top:20px;
    padding:40px 20px 20px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.20);
    -webkit-border-radius: 10px 10px 0 0;
       -moz-border-radius: 10px 10px 0 0;
         -o-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
}
.b-header__attention{
    color:#0ac1e3;
}
.b-header__slogan{
    display:table-cell;
    height:85px;
    padding-left: 30px;
    vertical-align: middle;
}
.b-header__contact{
    text-align: right;
    padding:10px 10px 0 30px;
}
.b-header__phone{
    font-size: 33px;
    background: url(../../images/design/phone.png) no-repeat left 10px;
    padding-left: 40px;
    line-height: 50px;
}
.b-header__phone:hover{
    background: url(../../images/design/phone-hover.png) no-repeat left 10px;
}
.b-header__number{
    white-space: nowrap;
}
.b-header__contact .b-link{
    margin-left:20px;
}
.b-header__mail{
    background: url(../../images/design/mail.png) no-repeat left 5px;
    padding-left:32px;
}
.b-header__skype{
    background: url(../../images/design/skype.png) no-repeat left 5px;
    padding-left:32px;
}
.b-header__contact .b-link:hover{
    background-position: left -25px;
}