.b-fancy__promo
{
    width:1000px;
    font-size: 13px;
    background: #fff;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
         -o-border-radius: 15px;
            border-radius: 15px;
}
.b-fancy__top{
    height:160px;
    overflow:hidden;
    padding:5px 0;
    position:relative;
}
.b-fancy__list{
    margin: 0;
    padding: 0 45px;
}
.b-fancy__item{
    width: 130px;
    height:160px;
    overflow:hidden;
}
.b-fancy__promo-list-link{
    display:block;
    font-size: 11px;
    color:#979797;
    text-decoration: none;
    padding:10px;
}
.b-fancy__list-image{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width:110px;
    height:110px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}
.b-fancy__list-img{
    display:inline-block;
    width:auto;
    height:auto;
    max-width:110px;
    max-height: 110px;
}
.b-fancy__list-title{
    display:none;
    text-align: center;
    margin-top:5px;
    overflow:hidden;
    height:30px;
}
.b-fancy__promo-list-link:hover .b-fancy__list-image,
.b-fancy__item_state_active .b-fancy__list-image
{
    box-shadow: 0 1px 12px rgba(0,0,0,0.3);
}
.b-fancy__promo-list-link:hover .b-fancy__list-title,
.b-fancy__item_state_active .b-fancy__list-title
{
    display:block;
}
.b-fancy__arrow-list{
    position:absolute;
    top:70px;
    cursor: pointer;
    width:20px;
    height:17px;
}
.b-fancy__arrow-list_position_prev{
    background: url(../../../images/design/arrow-prev.png) no-repeat top center;
    left:10px;
}
.b-fancy__arrow-list_position_next{
    background: url(../../../images/design/arrow-next.png) no-repeat top center;
    right:10px;
}
.b-fancy__arrow-list:hover{
    background-position: center bottom;
}
.b-fancy__body{
    position:relative;
}
.b-fancy__arrow{
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    padding: 0 15px;
    font-size: 15px;
    color:#686868;
    line-height:26px;
    -webkit-border-radius: 14px;
       -moz-border-radius: 14px;
         -o-border-radius: 14px;
            border-radius: 14px;
}
.b-fancy__arrow:hover{
    color:#fff;
    background: #666667;
}
.b-fancy__arrow_position_prev{
    left:50px;
}
.b-fancy__arrow_position_next{
    right:50px;
}
.b-fancy__body-list{
    width:600px;
    margin:0 auto;
}
.b-fancy__card{
    display:none;
    padding-bottom:30px;
}
.b-fancy__card_state_active{
    display:block;
}
.b-fancy__image{
    display:table-cell;
    width:600px;
    height: 300px;
    padding-bottom: 17px;
    vertical-align: middle;
    text-align: center;
    background: url(../../../images/design/shadow.png) no-repeat bottom center;
}
.b-fancy__img{
    display:inline-block;
    width: auto;
    height:auto;
    max-width:570px;
    max-height: 300px;
}
.b-fancy__title{
    margin:0 20px 15px;
}
.b-fancy__content,
.b-fancy__link{
    padding: 0 20px;
}
