.b-fancy
{
    display:none;
}
.fancybox-overlay{
    background: url(../../images/design/fancybox.png);
}
.fancybox-skin{
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
         -o-border-radius: 15px;
            border-radius: 15px;
}
.b-fancy__attention{
    color:#0ac1e3;
}
.b-fancy__bottom{
    background: #f2f2f2;
    padding:15px 0;
    -webkit-border-radius: 0 0 15px 15px;
       -moz-border-radius: 0 0 15px 15px;
         -o-border-radius: 0 0 15px 15px;
            border-radius: 0 0 15px 15px;
}
.b-fancy__phone{
    font-size: 24px;
    float:right;
    background: url(../../images/design/phone.png) no-repeat left 5px;
    padding:0 30px 0 40px;
    line-height: 40px;
}
.b-fancy__phone:hover{
    background: url(../../images/design/phone-hover.png) no-repeat left 5px;
}