.b-footer
{
    height:235px;
    background: #f1f1f1 url(../../images/design/footer.png);
    box-shadow: 0 1px 15px rgba(0,0,0,0.3);
    -webkit-border-radius: 15px 15px 0 0;
       -moz-border-radius: 15px 15px 0 0;
         -o-border-radius: 15px 15px 0 0;
            border-radius: 15px 15px 0 0;
}
.b-footer__inner{
    max-width: 1280px;
    min-width: 350px;
    margin: 0 auto;
    width:100%;
    padding: 110px 0 0;
}
.b-footer__attention{
    color:#0ac1e3;
}
.b-footer__phone{
    padding: 5px 0 5px 30px;
    font-size: 22px;
}
.b-footer__develop{
    padding: 7px 0 7px 30px;
}
.b-footer__body{
    padding: 0 20px;
}