.b-promo__bottom{
    font-size: 13px;
    padding: 10px 70px;
    text-shadow: 0 1px 0 #fff;
    position:relative;
    background: #e4e4e4;
    -webkit-border-radius: 0 0 10px 10px;
       -moz-border-radius: 0 0 10px 10px;
         -o-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
}
.b-promo__bottom:before{
    content: '*';
    display:inline-block;
    text-shadow: 0 1px 0 #fff;
    margin-right:5px;
    font-size:20px;
    height:15px;
    overflow:hidden;
}
.b-promo__title{
    padding: 15px 10px 15px 30px;
    float:left;
    font-size: 24px;
    line-height: 24px;
    margin-left: 50px;
    background: url(../../images/design/promo.png) no-repeat left center;
}
.b-promo:hover .b-promo__title{
    background: url(../../images/design/promo-hover.png) no-repeat left center;
}
.b-promo__top{
    padding-top:25px;
    overflow:hidden;
}
.b-promo__body{
    overflow:hidden;
    height: 720px;
}
.b-promo__item{
    display:block;
    position:relative;
    height:240px;
}
.b-promo__image{
    display:block;
    width:1280px;
    height:240px;
    position:absolute;
    left:50%;
    top:0;
    margin-left:-640px;
}
.b-promo__count{
    float:right;
    width:350px;
    font-size: 13px;
    line-height: 24px;
    padding: 15px 0;
}
.b-promo__count-body{
    width:180px;
    margin:10px 15px;
}
.b-promo__count-body.ui-widget-content{
    background: #e1e1e1;
    border:none;
    height: 6px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}
.b-promo__count-body .ui-widget-header {
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.25);
    background: #26cdeb;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#039cbd', endColorstr='#2ddcfb');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#039cbd), color-stop(100%,#2ddcfb));
        background: -webkit-linear-gradient(top, bottom, #039cbd, #2ddcfb); 
        background: -moz-linear-gradient(top,  #039cbd,  #2ddcfb);
        background: -o-linear-gradient(top,  #039cbd,  #2ddcfb);
        background: -ms-linear-gradient(top,  #039cbd,  #2ddcfb);
        background: linear-gradient(top, #039cbd, #2ddcfb);
}
.b-promo__count-body.ui-slider .ui-slider-handle { 
    height: 50px;
    border: none;
    width: 50px;
    margin-left: -25px;
    top: -20px;
    background: url(../../images/design/slider.png) no-repeat center;
    box-shadow: none !important;
    outline: none !important;
}
.b-promo__count-body.ui-slider .ui-slider-handle:hover{
    background: url(../../images/design/slider-hover.png) no-repeat center;
    cursor: pointer;
}